@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Regular.ttf");
}

body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: Poppins, sans-serif;
  
}

.search-window {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fade-margin {
  margin-top: 30vh;
}

#search-label {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#search {
  border-radius: 40px;
  width: clamp(300px, 50vw, 600px);
  height: 6vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  font-size: large;
  caret-color: rgba(0, 0, 0, 0.445);
  text-align: center;
}

#search:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.3);
}

#search:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.search-animation {
    animation-name: search;
    animation-duration:0.2s;
    animation-timing-function: ease-in-out;
}

@keyframes search {
    0% {
      margin-top: 30vh;
    }
    100% {
      margin-top: 1vh;
    }
}

.places-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  padding:5px;
}

.place {
  border-radius: 10px;
  border: 3px double black;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place:hover {
  box-shadow: 0 0 10px #fff;
}

@media (width < 1200px){
  .places-list {
    flex-direction: column;
    gap:1px;
  }
  .place {
    padding: 1vw;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px double rgba(0, 0, 0, 0.6);
  }

}

.weather-window {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  background-color: rgba(255, 255, 255, 0.2)
}

.temperature {
  font-size: 3rem;
  margin: 0;
}

.desc {
  font-size: 1.5rem;
  margin: 0;
}

.weather-window > p {
  margin-top: 8px;
}

.weather-animation {
    animation-name: weather;
    animation-duration:0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes weather {
    0% {
      margin-top: 50vh;
    }
    100% {
      margin-top: 0px;
    }
}

.nextTitle {
  margin:0;
  display:flex;
  justify-content: center;
}

.multiple-days-weather {
  list-style: none;
  width:100%;
  height:100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  white-space: nowrap;
  scrollbar-width: thin;
}

.multiple-days-cell {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  display: inline-block;
  width: clamp(180px,10vw,15vw);
  padding-bottom:0;
  background-color: rgba(255, 255, 255, 0.2);
}

.multiple-days-cell > * {
  display:flex;
  justify-content: center;
}


.cellsTime {
  font-size: 1.5rem;
  margin: 0;
}

.icon-class {
  height: 15px;
  position: relative;
  bottom: -4px;
  left: -5px;
}



.night {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  color:rgba(255, 255, 255, 0.815);
}


.night-rain {
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  color:rgb(255, 255, 255);
}

.night-clouds {
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  color:rgb(0, 0, 0);
}


/*Same as night clouds, should be changed*/
.night-snow{
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  color:rgb(0, 0, 0);
}

.night-mist{
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.90) 12%, rgba(0,0,0,0.90) 120%) #989898;
  background-blend-mode: multiply,multiply;
  color:rgb(0, 0, 0);
}

.rain {
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.mist {
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light;
}

.snow {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  color: rgba(0, 0, 0, 0.774);
}

.clouds {
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light;
}

.fade-in {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*# sourceMappingURL=index.css.map */